  header {
    font-size: 40px;
    font-weight: bold;
    line-height: 2;
    background-color: #d3494e;
    color: white;
  }
  .page {
    background-color: #ebacaf;
  }
  Button{
    background-color: #d3394e;
  }
  .BallEx{
    color:white;
    text-decoration:none;
  }
  .Tour{
    color:white;
    text-decoration:none;
  }  
  .Age{
    color:white;
    text-decoration:none;
  }  
  .Home{
    color:white;
    text-decoration:none;
  }  
  .Bob{
    color:white;
    text-decoration:none;
  }
  .Exhibit{
    color:white;
    text-decoration:none;
  }  
  .Art{
    color:white;
    text-decoration:none;
  }
  .Indigenous{
    color:white;
    text-decoration:none;
  }