  header {
    font-size: 40px;
    font-weight: bold;
    line-height: 2;
    background-color: #652f6c;
    color: #dbdad7;
  }
  .page {
    background-color: #158ea9;
    color: #dbdad7;
  }
  Button{
    background-color: #652f6c;
  }
  .BallEx{
    color:#dbdad7;
    text-decoration:none;
  }
  .Tour{
    color:#dbdad7;
    text-decoration:none;
  }  
  .Age{
    color:#dbdad7;
    text-decoration:none;
  }  
  .Home{
    color:#dbdad7;
    text-decoration:none;
  }  
  .Bob{
    color:#dbdad7;
    text-decoration:none;
  }
  .Exhibit{
    color:#dbdad7;
    text-decoration:none;
  }  
  .Art{
    color:#dbdad7;
    text-decoration:none;
  }
  .Indigenous{
    color:#dbdad7;
    text-decoration:none;
  }